
MarketGuide/MarketGuide/obj/project.assets.json
MarketGuide/.vs/MarketGuide/DesignTimeBuild/.dtbcache.v2
MarketGuide/.vs/MarketGuide/FileContentIndex/161c80e9-9ea7-4681-b880-f62045b0c3a1.vsidx
MarketGuide/.vs/MarketGuide/FileContentIndex/5e1c53e9-aa24-4194-9ee6-2bd54a7cb833.vsidx
MarketGuide/.vs/MarketGuide/FileContentIndex/9e4015b3-5652-4c71-8deb-d10093ae04bb.vsidx
MarketGuide/.vs/MarketGuide/FileContentIndex/f3dafdef-5119-43a0-a01a-9a95e3713511.vsidx
MarketGuide/.vs/MarketGuide/FileContentIndex/f6f6fc1f-c3dc-433e-920f-337056bec9aa.vsidx
MarketGuide/.vs/MarketGuide/v17/.futdcache.v2
MarketGuide/.vs/ProjectEvaluation/marketguide.metadata.v7.bin
MarketGuide/.vs/MarketGuide/v17/.suo
MarketGuide/.vs/ProjectEvaluation/marketguide.projects.v7.bin
MarketGuide/MarketGuide.sln
MarketGuide/MarketGuide/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
MarketGuide/MarketGuide/bin/Debug/net8.0/MailKit.dll
MarketGuide/MarketGuide/bin/Debug/net8.0/MarketGuide.deps.json
MarketGuide/MarketGuide/bin/Debug/net8.0/MarketGuide.dll
MarketGuide/MarketGuide/bin/Debug/net8.0/MarketGuide.pdb
MarketGuide/MarketGuide/bin/Debug/net8.0/MarketGuide.runtimeconfig.json
MarketGuide/MarketGuide/bin/Debug/net8.0/MimeKit.dll
MarketGuide/MarketGuide/bin/Debug/net8.0/Newtonsoft.Json.dll
MarketGuide/MarketGuide/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Security.Cryptography.Pkcs.dll
MarketGuide/MarketGuide/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.AssemblyInfoInputs.cache
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.assets.cache
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.csproj.AssemblyReference.cache
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.csproj.BuildWithSkipAnalyzers
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.csproj.CopyComplete
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.csproj.CoreCompileInputs.cache
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.csproj.FileListAbsolute.txt
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.dll
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.GeneratedMSBuildEditorConfig.editorconfig
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.genruntimeconfig.cache
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.GlobalUsings.g.cs
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.pdb
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.sourcelink.json
MarketGuide/MarketGuide/obj/Debug/net8.0/ref/MarketGuide.dll
MarketGuide/MarketGuide/obj/Debug/net8.0/refint/MarketGuide.dll
MarketGuide/MarketGuide/obj/MarketGuide.csproj.nuget.dgspec.json
MarketGuide/MarketGuide/obj/MarketGuide.csproj.nuget.g.props
MarketGuide/MarketGuide/obj/MarketGuide.csproj.nuget.g.targets
MarketGuide/MarketGuide/obj/project.nuget.cache
MarketGuide/MarketGuide/bin/Debug/net8.0/MarketGuide.exe
MarketGuide/MarketGuide/obj/Debug/net8.0/apphost.exe
MarketGuide/MarketGuide/obj/Debug/net8.0/MarketGuide.AssemblyInfo.cs
